@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16;
}
.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #d0d0d0 #f9f9f9;

    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 7px;
        background: #f9f9f9;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 7px;
        background: #d0d0d0;

        &:hover {
            background: #8a8a8a;
        }
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
